.p-datatable-header{
    background: linear-gradient(to right,#606c88, #3f4c6b) !important;
}
h5{
    color:white;
}
th{
    background-color: lavender !important;
}
.layout-topbar{
    background: brown !important;
}
.layout-topbar .layout-topbar-button:hover {
background-color: none !important;
}
/* linear-gradient(to right, #6cf688, #19ae98, #08dbcd) */
