.error{
    color: red;
}
.p-button {
    color: #ffffff;
    background: green;
    border: 1px solid #6366F1;
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 6px;
  }
.Appheading{
    color: #ffffff;
}
.p-link.layout-menu-button.layout-topbar-button{
    color: #ffffff;
}
.p-link.layout-menu-button.layout-topbar-button:hover{
    color: black;
}
*{
    box-shadow: none !important;
}

.custom-dropdown-scroll {
    max-height: 60px !important; /* Adjust the max height as needed */

  }

  .dropdowns {
    max-height: 200px; /* Limit dropdown height */
    overflow-y: auto; /* Enable vertical scrolling */
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
  }
